@import "@fontsource/inter";
@import "@fontsource/fira-code";

:root {
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
}

html {
  font-size: 15px;
}

button {
  text-align: start;
}

audio {
  width: 100%;
}
